@import "resources/assets/scss/lib/bourbon/_bourbon.scss";
@import "resources/assets/scss/lib/neat/_neat.scss";

.fa-btn {
    margin-right: em(6);
}

.panel {
	background-color: rgba(211,211,211,0.8) !important;

	.panel-heading {
		background-color: rgba(211,211,211,0.2) !important;
	}

	.panel-body {
		background-color: rgba(255,255,255,0.3) !important;
	}
}

.center-align {
	text-align: center;
	color: black;
}

.navbar-inverse {
	background-color: rgba(0,0,0,0.7) !important;
	color: white;

	.navbar-nav > li > a {
		color: white;
	}
}

.maintenance {
	display: inline-block;
	width: 30%;
}

.post-link {
	display: inline-block;
	font-size: em(30);
}

.post-container {
	margin-top: em(20);
}

.outer-container {
	@include outer-container(70%);
	background: rgba(222,222,222,0.8) !important;
	min-height: 85%;
	.row-wrapper {
		@include row();
	}
}

.post-contents {
	font-size: em(18);
	color: black;
}